html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Libre Baskerville', serif;
  color: #444444;
  overflow-x: hidden;
  cursor: nw-resize;
  margin: 0 auto;

}

.wrapper {
  padding-left: 80px;
  padding-right: 80px;
}

.nav-menu {
  padding-top: 1.5%;
  height: 120px;
}

.nav-left {
  max-width: 50%;
  float: left;
}

.nav-right {
  max-width: 50%;
  float: right;
}

.nav-right p, .nav-left p {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  font-weight: bold;
  color: #696969;
  line-height: 0.65;
  scroll-behavior: smooth;
}

.nav-right p {
  text-align: right;
}
.nav-right a, .nav-left a {
  text-decoration: none;
}

.nav-right a p:hover, .nav-left p:hover {
  color: #0074D9;
}

.hero {
  width: 100%;
  height: calc(100vh - 240px);
}

.hero-left img {
  width: 40%;
  height: 70%;
  float: left;
  margin: 40px 40px 40px 0;
}

.hero-right {
  text-align: right;
  padding-top: 20vh;
}

.hero-right h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 57px;
  text-align: right;
  color: #111111;
  line-height: 1.4;
}

.hero-right h1 span {
  border-bottom: solid 5px black,
}

.hero-right h2 {
  padding-top: 30px;
  font-family: 'Amiri', serif;
  font-weight: normal;
  font-size: 26px;
  text-align: right;
  color: rgba(105, 105, 105, 0.3);
  line-height: 1.4;
}

.projects .wrapper {
  margin-bottom: 50px;
}

.projects, .cards-list {
    padding-left: 30px;
}

.underlinelarge {
  text-decoration: none;
  position: relative;
}

.underlinelarge:after {
  position: absolute;
  height: 20px;
  margin: 0 auto;
  content: '';
  left: 0;
  right: 0;
  width: 100%;
  color: #000;
  background-color: #0074D9;
  left: 0;
  bottom: -12px;
  z-index: -10;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
}

.underlinesmall {
  text-decoration: none;
  position: relative;

}

.underlinesmall:after {
  position: absolute;
  height: 10px;
  margin: 0 auto;
  content: '';
  left: 0;
  right: 0;
  width: 100%;
  color: #000;
  background-color: #0074D9;
  left: 0;
  bottom: -6px;
  z-index: 1;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
}

.about {
  background-color: #f6f6f6;
  width: 70%;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  Z-INDEX: -1;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  color: #111111;
  z-index: 12;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #696969;
  line-height: 1.6;
}

.about p a {
  color: #444444;
}

.about p a:hover {
  color: #0074D9;
}

.awards {
    float: right;
    background-color: #f6f6f6;
    width: 70%;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.about-left {
  position: absolute;
  width: 25%;
  float: left;
  height: 1200px;
  background-color: grey;
  margin-top: 200px;
  z-index: 30;
  opacity: 0.6;
  left: 4%;
}

@media only screen and (max-width: 800px)  {
  .about-left {
      visibility: hidden;
  }
}

.info-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

@media only screen and (max-width: 1160px) {
  .info-cards {
    grid-template-columns: 1fr;
  }
}

.info-cards .title {
  font-size: 24px;
  font-family: 'Libre Baskerville', sans-serif;
  margin-bottom: 0;
  color: #111111;
}

.info-cards .description {
  font-size: 18px;
  margin-top: -2px;
}

.cards-list {
  display: inline-block;
}

@media only screen and (max-width: 1460px)  {
  .cards-list {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 60px;
  }
}

@media only screen and (max-width: 800px)  {
  .cards-list {
    display: grid;
    grid-template-columns: 300px;
    grid-gap: 60px;
  }
}

::-webkit-scrollbar {
  display: none;
  }

  .p-card {
    background-size: cover;
    display: inline-block;
    width: 250px;
    height: 300px;
    background-color: #f6f6f6;
    margin-left:80px;
    margin-right: -40px;
    padding: 20px 30px;
    position: relative;
    transition-duration: 0.4s;
  }

  .p-card:hover {
    color: #0074D9;
    transform: scale(1.04);
    transition-duration: 0.4s;
    cursor: crosshair;
  }


  .p-card h2 {
    position: absolute;
    bottom: 25px;
    left: 20px;

  }

  .card:last-child {
    margin-right: 80px;
  }

  .card-a {
    background-image: url("/images/voller.png");
  }

  .card-b {
    background-image: url("/images/roots.png");
  }

  .card-c {
    background-image: url("/images/golf.png");
  }

  .card-d {
    background-image: url("/images/other.png");
  }

  .footer-cta {
    clear: both;
    position: relative;
  }

  .footer-cta .wrapper {
    width: 60%;
    margin-right: 0;
  }

  .footer-icon {
    position: absolute;
    font-size: 100px;
    right: 10%;
    top: 30%;
  }

  @media only screen and (max-width: 900px)  {
    .footer-icon {
        visibility: hidden;
    }

    .footer-cta .wrapper {
      width: auto;
      margin-right: 0;
    }
  }

  .project-right {
    position: absolute;
    width: 30%;
    float: left;
    height: 600px;
    background-color: grey;
    z-index: 30;
    opacity: 0.6;
    left: 800px;
    visibility: hidden;
  }

  @media only screen and (max-width: 1460px)  {
    .project-right {
        visibility: visible;
    }
  }

  @media only screen and (max-width: 1000px)  {
    .project-right {
        visibility: hidden;
    }
  }

  .footer {
    height: 100px;
    width: 100%;
    background-color: #0074d9;
    margin: 0 auto;
  }


  .footer .wrapper i {
    color: #f6f6f6;
    font-size: 30px;
    padding: 35px 5px;
  }
