
body {
  font-family: 'Libre Baskerville', serif;
  color: #444444;
  padding-left: 80px;
  padding-right: 80px;
}

.nav-menu {
  padding-top: 1%;
  height: 120px;
}

.nav-left {
  max-width: 50%;
  float: left;
}

.nav-right {
  max-width: 50%;
  float: right;
}

.nav-right p, .nav-left p {
  font-size: 18px;
  font-weight: bold;
  color: #696969;
  line-height: 0.65;
}

.nav-right p {
text-align: right;
}

.hero {
  width: 100%;
  height: calc(100vh - 240px);

}

.hero-left {
  width: 48%;
  height: 88%;
  float: left;
  margin: 40px 40px 40px 0;
  background-color: #dddddd;
}


.hero-right {
  text-align: right;
  padding-top: 20vh;
}

.hero-right h1 {
font-family: 'Libre Baskerville', serif;
font-size: 57px;
text-align: right;
color: #696969;
}

.hero-right h2 {
padding-top: 30px; 
font-family: 'Amiri', serif;
font-weight: normal;
font-size: 26px;
text-align: right;
color: rgba(105, 105, 105, 0.3);
}
